.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 1rem;
  margin-top: 5rem;
  background-color: #545454;
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    padding: 1rem;
  }
}
