.info {
  padding: 1rem;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.title h3 {
  font-size: 1rem;
  font-weight: 600;
}

.info p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  line-height: 1.5;
}
