.button {
  padding: 0.5rem 1rem;
  border-radius: 0.325rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.primary {
  color: var(--text-color-white);
}

.secondary {
  background-color: #8f8f8f;
  color: var(--text-color-white);
}

.button:hover {
  background-color: #dbac00;
}
