@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color-white: #fff;
}

html,
body {
  margin: 0;
  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Pretendard', sans-serif;
}

.main-content {
  width: calc(100% - 840px);
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .main-content {
    width: calc(100% - 210px);
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .main-content {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .main-content {
    width: 100%;
    padding: 0 5px;
  }
}
