.card_area {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  justify-items: center;
}

@media (max-width: 1500px) {
  .card_area {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1400px) {
  .card_area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 880px) {
  .card_area {
    grid-template-columns: repeat(1, 1fr);
  }
}
